name: PyThea

channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.9
  - numpy=1.26.4
  - pandas
  - scipy
  - matplotlib
  - aiapy
  - astropy=6.0.0
  - astroquery
  - numexpr
  - sunpy=5.1.2
  - parfive=2.1.0  # The issue with streamlit and asyncio is resolved (see #13). Keep this for a while to make sure everything works smoothly.
  - streamlit
  - seaborn
  - pyvista
# - opencv-python-headless > Introdused to solve a libGL library error and no longe needed. https://github.com/AthKouloumvakos/PyThea/commit/24fa8a46fd4c4ee33aa84ee617d6f3e6628ac8e8
  - pytest-astropy
  - pytest-sugar
  - pytest-mpl
  - pip
  - pip:
      - pooch
      - jplephem
      - sunpy_soar
