include LICENSE.md
include README.md
include README_pypi.md
include pyproject.toml
exclude .pre-commit-config.yaml
exclude .pre-push-config.yaml
exclude runtime.txt
exclude setup.sh
exclude .gitignore
exclude .zenodo.json
exclude Aptfile
exclude Procfile
prune docs
prune .eggs
prune .git
prune .github
prune .heroku
prune .pytest_cache
prune build
prune dist
prune docs
prune env
