numpy==1.26.4
pandas
scipy
aiapy
astropy==6.0.0
astroquery
jplephem
numexpr
sunpy==5.1.2
sunpy_soar
parfive==2.1.0
pooch
matplotlib
seaborn
streamlit
Pillow
lxml
zeep
drms
tqdm
pyvista
pytest-astropy
pytest-sugar
pytest-mpl